<div class="col-md-2 panel panel-default">
  <div class="panel-heading">
    <button ng-hide="isEditing" class="btn btn-success" ng-click="cl.add_task()">Add a task</button>
    <button class="btn btn-danger" ng-click="cl.destroy()">Delete</button>
    <button ng-show="isEditing" class="btn btn-primary" ng-click="cl.update()">Save</button>
    <!-- Button trigger modal -->
    <button type="button" ng-hide="isEditing" class="btn btn-primary" ng-click="cl.edit()">
      Edit
    </button>
    <div ng-hide="isEditing">{{model.name}}</div>
    <input ng-show="isEditing" ng-model="model.name"/>
  </div>
  <div class="panel-body">
    <div ng-repeat="task in model.tasks">
      <task-component model="task"></task-component>
    </div>
  </div>
</div>
